.create-teams {
  border: solid red 2px;

  .team {
    max-width: 200px;
    min-width: 200px;
    border: solid green 2px;

    .mark-update-row{
      .mark-Inputs{
        .form-group{
          margin-bottom: 5px;
        }
        .error {
          font-size: 0.8em;
          color: red;
          margin-bottom: 5px;
        }
      }
    }

    .delete-icon {
      padding-right: 0px;
      cursor: pointer;
    }

    .mark-box {
      color: red;
    }

    .team-name {
      padding-left: 2px;
    }

    .mark-update-row {
      display: grid;
    }
  }
}